.App {
  /*margin-top: 15px;*/
  /*background-color: #efd4d4;*/
  /*background-size: cover;*/
  /*width: 100vw;*/
  /*height: 100vh;*/
  overflow-x: hidden;
}

.App .navbar-brand {
  font-weight: bold;
    font-size: xx-large;
    color: #777;
}

.App .navbar-inverse .navbar-brand {
  color: white;
  font-size: 22px;
}

.App .navbar-inverse .nav {
  color: white;
  font-size: 18px;
}

.navbar .navbar-inverse{
  margin-bottom: 0px;
  border-radius: 0px;
}

#nbar {
    margin-bottom: 0px;
    border-radius: 0px;
}

.landingImage {
    background-image: url(./images/beach.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.App .navbar-default {
    background-color: transparent;
}

.App .navbar-default .navbar-nav {
    font-size: larger;
    font-weight: bold;
    color: #777;
}